# Arbeitspaket (AP) 1: Advanced Data Collection Methods

### Persönliche Angaben (bitte ergänzen)

<table>
  <tr>
    <td>Vorname:</td>
    <td></td>
  </tr>
  <tr>
    <td>Nachname:</td>
    <td></td>
  </tr>
  <tr>
    <td>Immatrikulationsnummer:</td>
    <td></td>
  </tr>
  <tr>
    <td>Modul:</td>
    <td>Data Science</td>
  </tr>
  <tr>
    <td>Prüfungsdatum / Raum / Zeit:</td>
    <td>10.11.2025 / Raum: MU O2.001 / 8:00 – 11:45</td>
  </tr>
  <tr>
    <td>Erlaubte Hilfsmittel:</td>
    <td>w.MA.XX.DS.25HS (Data Science)<br>Open Book, Eigener Computer, Internet-Zugang</td>
  </tr>
  <tr>
  <td>Nicht erlaubt:</td>
  <td>Nicht erlaubt ist der Einsatz beliebiger Formen von generativer KI (z.B. Copilot, ChatGPT) <br> sowie beliebige Formen von Kommunikation oder Kollaboration mit anderen Menschen.</td>
</tr>
</table>

## Bewertungskriterien

### <b style="color: gray;">(max. erreichbare Punkte: 40)</b>

<table>
  <thead>
    <tr>
      <th>Kategorie</th>
      <th>Beschreibung</th>
      <th>Punkteverteilung</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Code nicht lauffähig oder Ergebnisse nicht sinnvoll</td>
      <td>Der Code enthält Fehler, die verhindern, dass er ausgeführt werden kann (z.B. Syntaxfehler) oder es werden Ergebnisse ausgegeben, welche nicht zur Fragestellung passen.</td>
      <td>0 Punkte</td>
    </tr>
    <tr>
      <td>Code lauffähig, aber mit gravierenden Mängeln</td>
      <td>Der Code läuft, aber die Ergebnisse sind aufgrund wesentlicher Fehler unvollständig (z.B. grundlegende Fehler beim Einlesen der Daten). Nur geringer Fortschritt erkennbar.</td>
      <td>25% der max. erreichbaren Punkte</td>
    </tr>
    <tr>
      <td>Code lauffähig, aber mit mittleren Mängeln</td>
      <td>Der Code läuft und liefert teilweise korrekte Ergebnisse, aber es gibt grössere Fehler (z.B. die Datentypen der eingelesenen Daten entsprechen nicht den Anforderungen gemäss Fragestellung). Die Ergebnisse sind nachvollziehbar, aber unvollständig oder ungenau.</td>
      <td>50% der max. erreichbaren Punkte</td>
    </tr>
    <tr>
      <td>Code lauffähig, aber mit minimalen Mängeln</td>
      <td>Der Code läuft und liefert ein weitgehend korrektes Ergebnis, aber kleinere Fehler (z.B. Spaltenname falsch geschrieben, TimeStamp nicht korrekt formatiert) beeinträchtigen die Vollständigkeit des Ergebnisses.</td>
      <td>75% der max. erreichbaren Punkte</td>
    </tr>
    <tr>
      <td>Code lauffähig und korrekt</td>
      <td>Der Code läuft einwandfrei und liefert das korrekte Ergebnis ohne Mängel.</td>
      <td>100% der max. erreichbaren Punkte</td>
    </tr>
  </tbody>
</table>

## Python Libraries und Settings

In [4]:
# Libraries
import os
import re
import json
import sqlite3
import requests
import feedparser
import pandas as pd
import yfinance as yf
from zipfile import ZipFile
from bs4 import BeautifulSoup
from datetime import datetime
import matplotlib.pyplot as plt
from wordcloud import WordCloud
from pandas import json_normalize
from lxml import html as lxml_html

from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Show current working directory
print(os.getcwd())

/workspaces/data_ingestion/LN2 - AP01

## <b>Vorbereitung (Dieser Teil wird <u>nicht</u> bewertet!)</b>

#### <b>1.) Starten Sie eine GitHub Codespaces Instanz auf Basis Ihres Forks des folgenden GitHub Repositories:</b>

##### GitHub-Repository: https://github.com/mario-gellrich-zhaw/data_ingestion

## <b>Aufgaben (Dieser Teil wird bewertet!)</b>
<b>Hinweise zu den folgenden Aufgabenstellungen:</b>
<ul>
  <li>Beachten Sie auch die zu jeder Aufgabenstellung zugehörenden Details zu Aufgabenstellung.</li>
  <li>Lösen Sie jede Aufgabe mit Hilfe von Python Code. Integrieren Sie den Python Code in die Code-Zellen der jeweiligen Aufgabe.</li>
  <li>Stellen Sie die Lösung(en) jeder Aufgabe ganz oder in Teilen (z.B. erste 5 Zeilen) eines DataFrames im Jupyter Notebook dar.</li>
  <li>Wenn in den Aufgaben in Bezug auf das Datum vom 'aktuellen Tag' gesprochen wird, ist der Tag der Durchführung dieses Leistungsnachweises gemeint.</li>
</ul>

#### <b>Aufgabe (1): Importieren Sie jedes der über den folgenden Codezellen angegebenen Files in einen eigenen pandas DataFrame.</b>
<b>Details zur Aufgabenstellung:</b>
- Sie finden die Files im Order 'Data'.
- Berücksichtigen Sie die Ablage der Files beim Einlesen (z.B. Pfad zum Einlesen von 'pilze.csv' is: './Data/pilze.csv').
- Zeigen Sie mit Hilfe eines geeigneten Python Befehls die Dimension des pandas DataFrames (Anzahl Zeilen und Spalten) im Jupyter Notebook an.
- Stellen sie die erstellten DataFrames ganz oder in Teilen (z.B. die ersten 5 Zeilen) im Jupyter Notebook dar.

Tipp: In einem Fall muss das spezielle Encoding (latin-1) und der spezielle Separator berücksichtigt werden.

<b style="color: gray;">(max. erreichbare Punkte: 4)</b>

#### Importieren von 'pilze.csv'

In [5]:
# Import des Files in ein Pandas DataFrame
pilze = pd.read_csv('./Data/pilze.csv',
                        sep=';',
                        encoding='latin-1')

# Anzeigen der Anzahl Zeilen und Spalten im DataFrame
print(pilze.shape)

# Anzeigen der ersten 5 Zeilen des DataFrames
pilze.head(5)

(50, 10)

,Artname,Familie,Hutfarbe,Höhe_cm,Durchmesser_cm,Geruch,Lebensraum,Saison,Essbarkeit,Fundort
0,Steinpilz,Amanitaceae,grau,9.1,6.0,pilzartig,Wald,Frühling,giftig,Deutschland
1,Fliegenpilz,Amanitaceae,braun,7.8,11.1,angenehm,Gebirge,Sommer,giftig,Österreich
2,Maronenröhrling,Sparassidaceae,weiß,12.9,7.0,angenehm,Wiese,Winter,ungenießbar,Deutschland
3,Pfifferling,Agaricaceae,violett,10.4,3.7,angenehm,Garten,Herbst,giftig,Deutschland
4,Fliegenpilz,Coprinaceae,orange,5.7,18.6,angenehm,Gebirge,Herbst,giftig,Österreich

#### Importieren von 'bicycles.xml'

In [6]:
# Import des Files in ein Pandas DataFrame
bicycles = pd.read_xml('./Data/bicycles.xml',
                   encoding='utf-8')

# Anzeigen der Anzahl Zeilen und Spalten im DataFrame
print(bicycles.shape)

# Anzeigen der ersten 5 Zeilen des DataFrames
bicycles.head(5)

(50, 15)

,id,Brand,Model,Type,FrameMaterial,Color,Country,BrakeType,Suspension,Gender,Gears,WheelSize_inch,Weight_kg,Price_USD,Year
0,1,Specialized,Mountain 859,Gravel,Carbon,Black,Germany,Disc,Full,Women,24,26.0,13.9,660,2015
1,2,Specialized,Electric 338,Mountain,Carbon,Yellow,Germany,Rim,Full,Men,7,27.5,15.0,3187,2019
2,3,Giant,Electric 881,Touring,Aluminum,Blue,Taiwan,Disc,Front,Men,11,26.0,15.3,4792,2016
3,4,Bianchi,Road 665,Gravel,Steel,Black,Netherlands,Disc,NaN,Women,10,28.0,17.9,2307,2016
4,5,Bianchi,Gravel 564,Touring,Carbon,Gray,Italy,Disc,Full,Men,8,27.5,13.3,2405,2017

#### Importieren der Daten über Vögel aus 'bird_species.xlsx'

In [7]:
# Import des korrekten Sheets aus dem File in ein Pandas DataFrame
birds = pd.read_excel('./Data/bird_species.xlsx',
                        sheet_name='birds')

# Anzeigen der Anzahl Zeilen und Spalten im DataFrame
print(birds.shape)

# Anzeigen der ersten 5 Zeilen des DataFrames

birds.head(5)

(60, 13)

,ScientificName,CommonName,Order,Family,ConservationStatus_IUCN,Wingspan_cm,Weight_g,Habitat,Region,Migratory,Observations,FirstObserved,LastObserved
0,Turdus coelebs,Eurasian Barn Owl,Strigiformes,Strigidae,LC,62.0,712,Alpine,Asia,Yes,12,2015-05-11,2015-09-10
1,Turdus major,Coastal Tern,Accipitriformes,Accipitridae,VU,140.4,637,Grassland,Africa,No,104,2015-01-27,2023-08-01
2,Pandion platyrhynchos,Eurasian Tit,Accipitriformes,Pandionidae,VU,127.2,817,Urban,Europe,No,104,2021-10-08,2023-04-02
3,Sterna major,Coastal Buzzard,Passeriformes,Paridae,LC,30.7,117,Shrubland,Oceania,No,6,2022-11-25,2023-04-16
4,Larus merula,Eurasian Tern,Strigiformes,Strigidae,LC,121.8,1777,Wetlands,Africa,No,86,2018-12-26,2021-05-02

#### Importieren von 'iris.json'

In [8]:
# Import des Files in ein Pandas DataFrame
iris = pd.read_json('./Data/iris.json')

# Anzeigen der Anzahl Zeilen und Spalten im DataFrame
print(iris.shape)

# Anzeigen der ersten 5 Zeilen des DataFrames
iris.head(5)

(150, 5)

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

#### <b>Aufgabe (2): Extrahieren Sie aus dem File 'opel-manta-listings.html' sämtliche Preisangaben der Fahrzeuge mit Hilfe eines geeigneten XPath.</b>
<b>Details zur Aufgabenstellung:</b>
- Sie finden das HTML-File im Order 'Data'.
- Komplettieren Sie für das Lösen der Aufgabe den unfertigen XPath im folgenden Python Code.
- Es muss nur dieser XPath angepasst werden, der restliche Code muss nicht modifiziert werden.
- Das Ergebnis (gespeichert im Object 'prices') sollte eine Liste in dieser Form sein: ["CHF 35'000", ... , "CHF 19'900"].

Tipp: Für das Testen des XPath können Sie diesen Online XPath-Tester verwenden: http://xpather.com

<b style="color: gray;">(max. erreichbare Punkte: 4)</b>

In [26]:
# Import HTML-File
with open('./Data/opel-manta-listings.html', 'r', encoding='utf-8') as file:
    html_content = file.read()

# Parsen des HTML-Contents
tree = lxml_html.fromstring(html_content)

# XPath zum Extrahieren der Preisinformationen (bitte komplettieren)
try:
    prices = tree.xpath('/html/body/section/table/p[2]/text()') # Hier den XPath ergänzen!
except:
    prices = [] # Ausgabe einer leeren Liste, falls der XPath nicht korrekt ist

# Anzeigen der extrahierten Preise
print("Extracted Prices:", prices)

Extracted Prices: []

#### <b>Aufgabe (3): Erstellen Sie einen pandas DataFrame mit den Daten aus der folgenden Tabelle (1), und speichern Sie dieses als JSON-File ab.</b>
<b>Details zur Aufgabenstellung:</b>
- Erstellen Sie einen pandas DataFrame mit den Daten aus der Tabelle 1.
- Speichern Sie das erstellte JSON-File als 'rabbit_breads.json' im Ordner 'Data'.
- Stellen Sie das erstellte DataFrame im Jupyter Notebook dar.

Tipp: Beim Erstellen eines pandas DataFrames wird typischerweise zuerst ein Python dictionary erstellt und dieses anschliessend in ein DataFrame umgewandelt.

Tabelle (1): Rabbit Breeds

| Breed        | Country_of_Origin | Weight_Kg  | Color       | Price_CHF |
| ------------ | ----------------- | ---------- | ----------- | --------- |
| German Giant | Germany           | 6.0 - 11.0 | Gray        | 120       |
| Dutch Rabbit | Netherlands       | 2.0 - 2.5  | Black-White | 80        |
| Rex          | France            | 3.0 - 4.5  | Chestnut    | 100       |
| Dwarf Rabbit | Worldwide         | 1.0 - 1.5  | White       | 60        |


<b style="color: gray;">(max. erreichbare Punkte: 4)</b>

In [ ]:
# Erstellen eines DataFrames aus der gegebenen Tabelle


# Abspeichern des DataFrames als JSON-Datei


# Anzeigen des DataFrames

#### <b>Aufgabe (4): Beziehen Sie die RSS-Feeds der deutschen Wochenzeitschrift 'DER SPIEGEL', und erstellen Sie aus den Titeln eine Word Cloud.</b>
<b>Details zur Aufgabenstellung:</b>
- Speichern Sie die RSS-Feeds in einem object 'feed' ab.
- Erstellen Sie eine Word Cloud Graphik auf der Basis der Titel der Artikel und stellen Sie diese im Jupyter Notebook dar.
- Stellen Sie die Titel der Artikel im Jupyter Notebook dar.

Tipp: Die URL für die aktuellen RSS-Feeds ist: https://www.spiegel.de/index.rss.

<b style="color: gray;">(max. erreichbare Punkte: 4)</b>

In [ ]:
# RSS-Feeds beziehen


# Daten aus dem RSS-Feed abrufen


# Leere Zeichenkette 'wordcloud_text' zur Speicherung des Textes initialisieren


# Durch alle Einträge im Feed iterieren


    # Artikel titel extrahieren


    # Titel zu 'wordcloud_text' hinzufügen


# Word Cloud generieren


# Graphik mit Word Cloud darstellen


# Artikeltitel ausgeben

#### <b>Aufgabe (5): Beziehen Sie mit Hilfe der Overpass Turbo Web API Daten zu den Sport-Stadien in der Schweiz und speichern Sie diese ab.</b>
<b>Details zur Aufgabenstellung:</b>
- Sport-Stadien sind mit dem key:value Paar "leisure"="stadium" in der OpenStreetMap Map-Feature Übersicht angegeben. Berücksichtigen Sie nur dieses key:value Paar.
- Speichern Sie die Daten in einem pandas DataFrame, und stellen Sie den DataFrame ganz oder in Teilen (z.B. erste 5 Zeilen) dar.
- Speichern Sie die Daten in einer SQLite Datenbank 'sports_stadiums.db' im Order 'Data'.
- Überprüfen Sie mit Hilfe von Python Code, ob die SQLite Datenbank 'sports_stadiums.db' generiert wurde.

Tipp: Auf der Webseite: https://overpass-turbo.eu können Sie Overpass Turbo Abfragen testen.

<b style="color: gray;">(max. erreichbare Punkte: 8)</b>

In [ ]:
# Overpass API URL


# Overpass turbo Abfrage-String


# Web API Anfrage


# Speichern der Daten in einem Pandas DataFrame


# Speichern der Daten in einer SQLite Datenbank


# Überprüfen, ob die SQLite Datenbank generiert wurde


# Anzeigen der ersten 5 Zeilen des DataFrames

#### <b>Aufgabe (6): Beziehen Sie Daten zur Entwicklung des Bitcoin Preises mit Hilfe der Coingecko Web API.</b>
<b>Details zur Aufgabenstellung: </b>
- Verwenden Sie den folgenden, vorgegebenen Python Code für die Abfrage der Bitcoin Preise in den letzten 100 Tagen in US Dollar.
- Zeigen Sie die ersten 10 Zeilen des DataFrames mit den Preisen an.
- Speichern Sie den DataFrame als JSON - File im Order 'Data' mit dem heutigen Datum im File-Namen, d.h.: 'bitcoin_prices_last_100_days_2025-11-10.json'.
- Verwenden Sie Python Code und einen f-String für das Generieren des Filenamens und das Abspeichern als JSON - File.
- Überprüfen Sie mit Hilfe von Python Code, ob das JSON-File generiert wurde.

Tipp: Die Formatierung von Datumsangaben und Text wurde im Unterricht im Zusammenhang mit dem Einlesen von Daten behandelt.


<b style="color: gray;">(max. erreichbare Punkte: 8)</b>

In [ ]:
# Zeitreihe der letzten 100 Tage für Bitcoin in USD
data = cg.get_coin_market_chart_by_id(
    id='bitcoin',
    vs_currency='usd',
    days=100
)

# DataFrame erstellen
df_btc = pd.DataFrame(data['prices'], columns=['Date', 'Price_USD'])
df_btc.index = pd.to_datetime(df_btc['Date'], unit='ms')
df_btc.drop(columns='Date', inplace=True)

# Anzeige der ersten 10 Zeilen des DataFrames


# Abspeichern des DataFrames als JSON-File mit dem heutigen Datum im Dateinamen


# Überprüfen, ob das File generiert wurde

#### <b>Aufgabe (7): Ergänzen Sie den folgenden Code für das Extrahieren von Gebäudedaten aus einem XML-File.</b>
<b>Details zur Aufgabenstellung: </b>
- In dieser Aufgabe geht es um das Erkennen und Extrahieren von Daten aus einem XML-File mittels XPath.
- Öffnen Sie zunächst das XML-File ./Data/gebaeude_heizkosten.xml, und schauen Sie sich die Struktur an.
- Ergänzen Sie im folgenden Code jeweils nur den XPath für das Extrahieren der Gebäudedaten aus dem XML-File.
- Der Ergebnis DataFrame sollte die folgenden Spalten (in dieser Reihenfolge) enthalten: id, strasse, plz, ort, land, typ, kosten, jahr, waehrung.

Tipp:
- In der Woche 5 auf Moodle wird ein ähnliches Beispiel gezeigt.
- Statt './/gebaeude/...' kann auch '/gebaeudeListe/gebaeude/...' als Pfadangabe verwendet werden.

<b style="color: gray;">(max. erreichbare Punkte: 8)</b>

In [ ]:
# Pfad zum XML-File
pfad = "./Data/gebaeude_heizkosten.xml"

# Daten aus dem XML-File in verschiedene DataFrames importieren
df_gebauede = pd.read_xml(pfad, xpath="", attrs_only=True)
df_adresse = pd.read_xml(pfad, xpath="")
df_waehrung = pd.read_xml(pfad, xpath="", attrs_only=True)
df_heizung = pd.read_xml(pfad, xpath="")

# Zusammenlegen der DataFrames zu einem einzigen DataFrame
df_all = pd.concat([df_gebauede, df_adresse, df_heizung, df_waehrung], axis=1)

# Anzeigen der ersten 5 Zeilen des DataFrames
df_all.head()

### Jupyter notebook --footer info-- (please always provide this at the end of each notebook)

In [ ]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('IP Address:', socket.gethostbyname(socket.gethostname()))
print('-----------------------------------')