# Arbeitspaket (AP) 1: Advanced Data Collection Methods

### Persönliche Angaben (bitte ergänzen)

<table>
  <tr>
    <td>Vorname:</td>
    <td></td>
  </tr>
  <tr>
    <td>Nachname:</td>
    <td></td>
  </tr>
  <tr>
    <td>Immatrikulationsnummer:</td>
    <td></td>
  </tr>
  <tr>
    <td>Modul:</td>
    <td>Data Science</td>
  </tr>
  <tr>
    <td>Prüfungsdatum / Raum / Zeit:</td>
    <td>11.11.2024 / Raum: SF O3.54 / 8:00 – 11:45</td>
  </tr>
  <tr>
    <td>Erlaubte Hilfsmittel:</td>
    <td>w.MA.XX.DS.24HS (Data Science)<br>Open Book, Eigener Computer, Internet-Zugang</td>
  </tr>
  <tr>
  <td>Nicht erlaubt:</td>
  <td>Nicht erlaubt ist der Einsatz beliebiger Formen von generativer KI (z.B. Copilot, ChatGPT) <br> sowie beliebige Formen von Kommunikation oder Kollaboration mit anderen Menschen.</td>
</tr>
</table>

## Bewertungskriterien

### <b style="color: gray;">(max. erreichbare Punkte: 48)</b>

<table>
  <thead>
    <tr>
      <th>Kategorie</th>
      <th>Beschreibung</th>
      <th>Punkteverteilung</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Code nicht lauffähig oder Ergebnisse nicht sinnvoll</td>
      <td>Der Code enthält Fehler, die verhindern, dass er ausgeführt werden kann (z.B. Syntaxfehler) oder es werden Ergebnisse ausgegeben, welche nicht zur Fragestellung passen.</td>
      <td>0 Punkte</td>
    </tr>
    <tr>
      <td>Code lauffähig, aber mit gravierenden Mängeln</td>
      <td>Der Code läuft, aber die Ergebnisse sind aufgrund wesentlicher Fehler unvollständig (z.B. grundlegende Fehler beim Einlesen der Daten). Nur geringer Fortschritt erkennbar.</td>
      <td>25% der max. erreichbaren Punkte</td>
    </tr>
    <tr>
      <td>Code lauffähig, aber mit mittleren Mängeln</td>
      <td>Der Code läuft und liefert teilweise korrekte Ergebnisse, aber es gibt grössere Fehler (z.B. die Datentypen der eingelesenen Daten entsprechen nicht den Anforderungen gemäss Fragestellung). Die Ergebnisse sind nachvollziehbar, aber unvollständig oder ungenau.</td>
      <td>50% der max. erreichbaren Punkte</td>
    </tr>
    <tr>
      <td>Code lauffähig, aber mit minimalen Mängeln</td>
      <td>Der Code läuft und liefert ein weitgehend korrektes Ergebnis, aber kleinere Fehler (z.B. Spaltenname falsch geschrieben, TimeStamp nicht korrekt formatiert) beeinträchtigen die Vollständigkeit des Ergebnisses.</td>
      <td>75% der max. erreichbaren Punkte</td>
    </tr>
    <tr>
      <td>Code lauffähig und korrekt</td>
      <td>Der Code läuft einwandfrei und liefert das korrekte Ergebnis ohne Mängel.</td>
      <td>100% der max. erreichbaren Punkte</td>
    </tr>
  </tbody>
</table>

## Python Libraries und Settings

In [1]:
# Libraries
import os
import re
import json
import requests
import feedparser
import pandas as pd
import yfinance as yf
from zipfile import ZipFile
from bs4 import BeautifulSoup
from datetime import datetime
import matplotlib.pyplot as plt
from wordcloud import WordCloud
from pandas import json_normalize
from lxml import html as lxml_html

from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Show current working directory
print(os.getcwd())

/workspaces/data_ingestion/AP01

## <b>Vorbereitung (Dieser Teil wird <u>nicht</u> bewertet!)</b>

#### <b>1.) Starten Sie eine GitHub Codespaces Instanz auf Basis Ihres Forks des folgenden GitHub Repositories:</b>

##### GitHub-Repository: https://github.com/mario-gellrich-zhaw/data_ingestion

## <b>Aufgaben (Dieser Teil wird bewertet!)</b>
<b style="color:blue;">Hinweise zu den folgenden Aufgabenstellungen:</b>
<ul style="color:blue;">
  <li>Beachten Sie auch die zu jeder Aufgabenstellung zugehörenden Details zu Aufgabenstellung.</li>
  <li>Lösen Sie jede Aufgabe mit Hilfe von Python Code. Integrieren Sie den Python Code in die Code-Zellen der jeweiligen Aufgabe.</li>
  <li>Stellen Sie die Lösung(en) jeder Aufgabe ganz oder in Teilen (z.B. erste 5 Zeilen) eines DataFrames im Jupyter Notebook dar.</li>
  <li>Wenn in den Aufgaben in Bezug auf das Datum vom 'aktuellen Tag' gesprochen wird, ist der Tag der Durchführung dieses Leistungsnachweises gemeint.</li>
</ul>

#### <b>Aufgabe (1): Importieren Sie jedes der über den folgenden Codezellen angegebenen Files in ein eigenes pandas DataFrame.</b>
<b>Details zur Aufgabenstellung:</b>
- Sie finden die Files im Order 'Data'.
- Berücksichtigen Sie die Ablage der Files beim Einlesen (z.B. Pfad zum Einlesen von 'BigmacPrice.csv' is: './Data/BigmacPrice.csv').
- Zeigen Sie mit Hilfe eines geeigneten Python Befehls die Dimension des pandas DataFrames (Anzahl Zeilen und Spalten) im Jupyter Notebook an.
- Stellen sie die erstellten DataFrames entweder ganz oder in Teilen (z.B. die ersten 5 Zeilen) im Jupyter Notebook dar.

<b style="color: gray;">(max. erreichbare Punkte: 4)</b>

#### Importieren von 'BigmacPrice.csv'

In [ ]:
# Import File 'BigmacPrice.csv' in ein Pandas DataFrame
bigmac = pd.read_csv('BigmacPrice.csv',
                        sep=',',
                        encoding='utf-8')

#Wichtig! Beim Einlesen von Dateien auf den Pfad achten und wo die Datei abgelegt ist!
#Bei .csv Dateien immer pd.read_csv verwenden
#encoding definiert die Zeichenkodierung der Datei --> UTF-8 ist Standard

# Anzeigen der Anzahl Zeilen und Spalten im DataFrame
print(bigmac.shape)

# Anzeigen des DataFrames
bigmac.head(5)

(1946, 6)

         date currency_code       name  local_price  dollar_ex  dollar_price
0  2000-04-01           ARS  Argentina         2.50          1          2.50
1  2000-04-01           AUD  Australia         2.59          1          2.59
2  2000-04-01           BRL     Brazil         2.95          1          2.95
3  2000-04-01           GBP    Britain         1.90          1          1.90
4  2000-04-01           CAD     Canada         2.85          1          2.85

#### Importieren von 'CarData.xml'

In [ ]:
# Import File 'CarData.xml'
cars = pd.read_xml('CarData.xml',
                   encoding='utf-8')

#Wichtig! Beim Einlesen von Dateien auf den Pfad achten und wo die Datei abgelegt ist!
#Bei .xml Dateien immer pd.read_xml verwenden
#encoding definiert die Zeichenkodierung der Datei --> UTF-8 ist Standard

# Anzeigen der Anzahl Zeilen und Spalten im DataFrame
print(cars.shape)   

# Anzeigen des DataFrames
cars.head()

(1000, 10)

,car_id,make,type,year,hp,mileage,price,doors,color,vin_number
0,1,Chevrolet,Sedan,1991,158,25040,17145.80,3,Orange,A4BEEC1BAEAE4759B02FB952F5FDF7D0
1,2,BMW,Wagon,1991,465,137449,29727.51,5,Red,3D154B9E846947C0BACB1729E4F3157A
2,3,Kia,Van,2001,189,202308,73312.00,4,Red,E1AF7108C06E4501BFD5876FD733AB65
3,4,Toyota,SUV,2011,117,123661,22342.98,5,Black,880B573230AA42488E2D97F065BB0681
4,5,Nissan,SUV,2004,339,256696,53094.74,5,Blue,138ECF9A0D8748F99F401942FD139103

#### Importieren von 'ChickenData.xlsx'

In [ ]:
# Import File 'ChickenData.xlsx'
chicken = pd.read_excel('ChickenData.xlsx',
                        sheet_name='Chickens')

# Anzeigen der Anzahl Zeilen und Spalten im DataFrame --> gibt Tupel (Zeilen, Spalten) zurück
#Bei .xlsx Dateien immer pd.read_excel verwenden und auf den sheet_name achten

print(chicken.shape)
# Anzeigen des DataFrames --> gibt die ersten 5 Zeilen zurück
chicken.head(5)

(100, 4)

   chicken_id       weight              breed  eggs_per_year
0           1  2435.836917  New Hampshire Red            158
1           2  2157.180545         Australorp            273
2           3  2558.418035  New Hampshire Red            153
3           4  2679.200608      Plymouth Rock            268
4           5  2556.855145         Australorp            360

#### Importieren von 'HotelData.json'

In [8]:
# Import File 'HotelData.json'
hotels = pd.read_json('HotelData.json')

# Anzeigen der Anzahl Zeilen und Spalten im DataFrame
print(hotels.shape)

# Anzeigen des DataFrames
hotels.head(5)

(456, 5)

,type,generator,copyright,timestamp,features
0,FeatureCollection,overpass-turbo,The data included in this document is from www...,2024-10-27 16:52:02+00:00,"{'type': 'Feature', 'properties': {'@id': 'rel..."
1,FeatureCollection,overpass-turbo,The data included in this document is from www...,2024-10-27 16:52:02+00:00,"{'type': 'Feature', 'properties': {'@id': 'rel..."
2,FeatureCollection,overpass-turbo,The data included in this document is from www...,2024-10-27 16:52:02+00:00,"{'type': 'Feature', 'properties': {'@id': 'rel..."
3,FeatureCollection,overpass-turbo,The data included in this document is from www...,2024-10-27 16:52:02+00:00,"{'type': 'Feature', 'properties': {'@id': 'way..."
4,FeatureCollection,overpass-turbo,The data included in this document is from www...,2024-10-27 16:52:02+00:00,"{'type': 'Feature', 'properties': {'@id': 'way..."

#### <b>Aufgabe (2): Extrahieren Sie aus dem File 'BookStore.html' die Preise der Bücher mit Hilfe eines geeigneten XPath.</b>
<b>Details zur Aufgabenstellung:</b>
- Sie finden das HTML-File 'BookStore.html' im Order 'Data'.
- Komplettieren Sie für das Lösen der Aufgabe den unfertigen XPath im folgenden Python Code.
- Beachten Sie, dass nur ein einziger XPath für das Extrahieren aller Preise notwendig ist.
- Stellen Sie die extrahierten Preise im Jupyter Notebook dar.<br><br>
- Tipp: Für das Testen des XPath können Sie diesen Online XPath-Tester verwenden: http://xpather.com

<b style="color: gray;">(max. erreichbare Punkte: 4)</b>

In [ ]:
# Import File 'BookStore.html'
with open('BookStore.html', 'r', encoding='utf-8') as file:
    html_content = file.read()

# Parsen des HTML-Contents
tree = lxml_html.fromstring(html_content)

# XPath zum Extrahieren der Buchpreise (bitte dort wo im XPath '...' steht, komplettieren)
try:
    prices = tree.xpath('/html/body/div/section/div/div/p[2]/text()') #der xPath muss an die HTML Struktur der Datei angepasst werden; in diesem Beispiel sind es die Preise der Bücher.
    #mit section, div, p etc. werden die HTML Tags angesprochen - Die Angabe von Section ist relevevant um die Preise zu extrahieren, weil sie in diesem Fall in einem bestimmten Abschnitt der HTML Datei stehen
except:
    prices = [] # gibt eine leere Liste aus, falls der XPath nicht korrekt ist

# Anzeigen der extrahierten Buchpreise
print("Extracted Book Prices:", prices)

Extracted Book Prices: ['$10.99', '$9.99', '$12.99']

#### <b>Aufgabe (3): Erstellen Sie ein pandas DataFrame mit den Daten aus der folgenden Tabelle (1), und speichern Sie dieses als XML-File ab.</b>
<b>Details zur Aufgabenstellung:</b>
- Speichern Sie das erstellte XML-File als 'SmartphoneData.xml' im Ordner 'Data'.
- Stellen Sie das erstellte DataFrame im Jupyter Notebook dar.<br>

Tipp: Beim Erstellen eines Dataframes wird typischerweise zuerst ein Python dictionary erstellt und dieses anschliessend in ein DataFrame umgewandelt.

Tabelle (1): Smartphone Data

| Marke       | Modell       | Baujahr | Farbe   | Preis   |
|-------------|--------------|---------|---------|---------|
| Apple       | iPhone 12    | 2020    | Schwarz | 799     |
| Samsung     | Galaxy S21   | 2021    | Weiß    | 999     |
| Google      | Pixel 5      | 2020    | Grün    | 699     |
| OnePlus     | 8 Pro        | 2020    | Blau    | 899     |

<b style="color: gray;">(max. erreichbare Punkte: 4)</b>

In [14]:
# Erstellen des DataFrames aus der gegebenen Tabelle
data = {
    'Marke': ['Apple', 'Samsung', 'Google', 'OnePlus'],
    'Modell': ['iPhone 12', 'Galaxy S21', 'Pixel 5', '8 Pro'],
    'Baujahr': [2020, 2021, 2020, 2020],
    'Preis': [799, 999, 699, 899],
    'Farbe': ['Schwarz', 'Weiß', 'Grün', 'Blau']
}

df = pd.DataFrame(data) #--> Erstellen des DataFrames aus dem Dictionary 'data'

# Abspeichern des DataFrames als XML-Datei
df.to_xml('Smartphones.xml', index=False) #--> index=False um die Indexspalte nicht mitzuspeichern
# Anzeigen des DataFrames

#### <b>Aufgabe (4): Erstellen Sie ein ZIP-File aus den folgenden genannten Files, und speichern Sie dieses im Order 'Data' ab.</b>
<b>Details zur Aufgabenstellung:</b>
- Verwenden Sie die folgenden Files aus dem Ordner 'Data' als Input für das ZIP-File:
  - BigmacPrice.csv
  - BookStore.html
  - CarData.xml
  - ChickenData.xlsx
  - HotelData.json
- Speichern Sie das ZIP-File als 'MyData.zip' im Ordner 'Data' ab.

<b style="color: gray;">(max. erreichbare Punkte: 4)</b>

In [17]:
# Erstellen eines leeren Zip-Archivs
zipObj = ZipFile('DataArchive.zip', 'w') #--> das w steht für write, also schreiben des Archivs

# Hinzufügen der Dateien zum Zip-Archiv
zipObj.write('BigmacPrice.csv')      # Hinzufügen der CSV-Datei
zipObj.write('CarData.xml')         # Hinzufügen der XML-Datei
zipObj.write('ChickenData.xlsx')    # Hinzufügen der Excel-Datei
zipObj.write('HotelData.json')      # Hinzufügen der JSON-Datei


# Schliessen des Zip-Archivs
zipObj.close()

#### <b>Aufgabe (5): Beziehen Sie Daten zu Cryptowährungen mit Hilfe der Coingecko Web API.</b>
<b>Details zur Aufgabenstellung:</b>
- Verwenden Sie die folgenden Bezeichnungen (Ids) der Cryptowährungen für die Server-Anfragen: <b>binancecoin, cardano, polkadot, solana</b>.
- Fragen Sie folgende Daten ab (Währung = EUR):
  - Markkapitalisierung (include_market_cap='true')
  - 24 Stunden Volumen (include_24hr_vol='true')
  - 24 Stunden Veränderung (include_24hr_change='true')
  - Datum des letzten Updates (include_last_updated_at='true')
- Wandeln Sie die Daten in ein DataFrame um und stellen Sie dieses im Jupyter Notebook dar.<br><br>

- Tipp: data = cg.get_price() speichert die Daten in ein Python dictionary. Dieses kann mit df = pd.DataFrame(data) in ein DataFrame umgewandelt werden.

<b style="color: gray;">(max. erreichbare Punkte: 8)</b>

In [ ]:
# Beziehen der Daten mit Hilfe der Coingecko Web API
data = cg.get_price(ids='bitcoin, ethereum, cardano, polkadot, solana', #ids definiert die Kryptowährungen, die abgefragt werden sollen und steht für die IDs der Kryptowährungen
                     vs_currencies='usd',
                     include_market_cap='true',
                     include_24hr_vol='true',
                     include_24hr_change='true',
                     include_last_updated_at='true') #--> diese Befehle holen die Preise und weitere Informationen der angegebenen Kryptowährungen in USD ab.


                    #Woher werden die Daten geholt? --> Coingecko Web API (https://www.coingecko.com/en/api) 
                    #Wo ist die API definiert? --> In der Variable 'cg' am Anfang des Codes (cg = CoinGeckoAPI())

# Speichern der Daten in einem pandas DataFrame
df = pd.DataFrame(data)  # Transponieren des DataFrames, damit die Kryptowährungen als Zeilen dargestellt werden

# Anzeigen des DataFrames
df

,bitcoin,cardano,ethereum,polkadot,solana
usd,1.099670e+05,6.115550e-01,3.868830e+03,2.930000e+00,1.858100e+02
usd_market_cap,2.193096e+12,2.237479e+10,4.669963e+11,4.465907e+09,1.027179e+11
usd_24h_vol,4.506325e+10,9.505387e+08,2.677508e+10,2.198387e+08,4.558577e+09
usd_24h_change,4.238861e-01,2.340602e-01,8.288920e-01,1.983544e+00,-3.685898e-01
last_updated_at,1.761997e+09,1.761997e+09,1.761997e+09,1.761997e+09,1.761997e+09

#### <b>Aufgabe (6): Beziehen Sie Börsendaten zur Tesla-Aktie mit Hilfe der Yahoo-Finance Web API.</b>
<b>Details zur Aufgabenstellung:</b>
- Die Tesla Aktie hat das Kürzel TSLA.
- Definieren Sie '2023-01-01' als Startdatum für die Abfrage der Börsendaten.
- Verwenden Sie die Python Library 'datetime' für die Erstellung des Enddatums (aktueller Tag).
- Speichern Sie die Börsendaten in einem pandas DataFrame ab.
- Stellen Sie die Daten der fünf aktuellsten Börsentage im Jupyter Notebook dar.<br><br>

- Hinweis: Die neusten Daten aus der Yahoo-Finance Web API sind jeweils vom Vortag.

<b style="color: gray;">(max. erreichbare Punkte: 8)</b>

In [ ]:
# Erstellen eines Datumsobjekts mit dem aktuellen Datum und der aktuellen Uhrzeit
today = datetime.now().strftime("%Y-%m-%d")  
print('Today is:', today)

#--> Erstellen eines Datumsobjekts im Format Jahr-Monat-Tag, stfrftime wandelt das Datum in einen String um.
#today enthält jetzt das aktuelle Datum im Format "YYYY-MM-DD"

# Beziehen der Tesla Aktienkurse von Yahoo Finance
data = yf.download('TSLA', start='2023-01-01', end = today, progress=False) #-->yf.download holt die Daten von Yahoo Finance ab, 'TSLA' ist das Tickersymbol für Tesla, start und end definieren den Zeitraum der Datenabfrage

                                                                            #start definiert den Anfangszeitpunkt der Datenabfrage (hier 1. Januar 2023)
                                                                            #end definiert den Endzeitpunkt der Datenabfrage (hier das aktuelle Datum, das in der Variable today gespeichert ist)
                                                                            #progress=False deaktiviert die Fortschrittsanzeige während des Downloads

# Anzeigen der Anzahl Zeilen und Spalten im DataFrame
print('Dimension:', data.shape) #--> dieser Befehl gibt die Dimension des DataFrames aus (Anzahl Zeilen und Spalten)

# Anzeigen des DataFrames mit den Daten der fünf aktuellsten Börsentage
data.tail(10) #--> definiert die Anzeige der letzten zehn Zeilen des DataFrames

Today is: 2025-11-01
Dimension: (711, 5)

Price            Close        High         Low        Open     Volume
Ticker            TSLA        TSLA        TSLA        TSLA       TSLA
Date
2025-10-20  447.429993  449.799988  440.609985  443.869995   63719000
2025-10-21  442.600006  449.299988  442.049988  445.760010   54412200
2025-10-22  438.970001  445.540009  429.000000  443.450012   84023500
2025-10-23  448.980011  449.399994  413.899994  420.000000  126709800
2025-10-24  433.720001  451.679993  430.170013  446.829987   94727800
2025-10-27  452.420013  460.160004  438.690002  439.980011  105867500
2025-10-28  460.549988  467.000000  451.600006  454.779999   80185700
2025-10-29  461.510010  465.700012  452.649994  462.500000   67983500
2025-10-30  440.100006  455.059998  439.609985  451.049988   72447900
2025-10-31  456.559998  458.000000  443.690002  446.750000   82980800

#### <b>Aufgabe (7): Beziehen Sie mit Hilfe der Overpass Turbo Web API Daten zu den Tankstellen in der Schweiz.</b>
<b>Details zur Aufgabenstellung:</b>
- Tankstellen sind mit dem key:value Paar "amenity"="fuel" in der OpenStreetMap Map-Feature Übersicht angegeben.
- Speichern Sie die Daten in einem File 'petrol_station.json' im Order 'Data' ab.
- Lesen Sie die Daten zusätzlich in ein pandas DataFrame und zeigen Sie dieses ganz oder in Teilen (z.B. erste 5 Zeilen) an.<br><br>
- Tipp: Auf der Webseite: https://overpass-turbo.eu können Sie Overpass Turbo Abfragen testen.

<b style="color: gray;">(max. erreichbare Punkte: 8)</b>

In [ ]:
# Overpass API URL
url = 'http://overpass-api.de/api/interpreter'

# Overpass turbo Abfrage-String
query = f"""
        [out:json];
        area["ISO3166-1"="CH"]["admin_level"="2"];
        node["amenity" = "fuel"] (area);
        out;"""


#out:json definiert das Ausgabeformat als JSON
#area["ISO3166-1"="CH"]["admin_level"="2"]; definiert die Abfrage auf das Gebiet der Schweiz (CH) auf admin_level 2 (Länderebene)
#node["amenity" = "fuel"] (area); sucht nach Knotenpunkten mit dem Tag "amenity" = "fuel" (Tankstellen) im definierten Gebiet
#out; gibt die Ergebnisse der Abfrage aus
        
# Web API Anfrage
r = requests.get(url, params={'data': query}) #--> sendet die GET-Anfrage an die Overpass API mit dem definierten Abfrage-String
data = r.json() ['elements'] #--> extrahiert die Elemente aus der JSON-Antwort der API

# Speichern der Daten in einer JSON-Datei
with open('petrol_station.json', 'w') as json_file: #--> definiert das Öffnen der Datei im Schreibmodus
    json.dump(data, json_file) #--> definiert das Speichern der Daten im JSON-Format in die Datei 'petrol_station.json'

# Speichern der Daten in einem Pandas DataFrame und Anzeigen des DataFrames
df = json_normalize(data) #--> json_normalize wandelt die verschachtelten JSON-Daten in ein flaches Pandas DataFrame um; ein flaches Pandas DataFrame ist eine tabellarische Darstellung der Daten, bei der alle verschachtelten Strukturen aufgelöst werden.
df.head(15) 

#Die Daten werden von der Overpass API abgerufen, die auf OpenStreetMap-Daten basiert.

,type,id,lat,lon,tags.amenity,tags.brand,tags.fuel:diesel,tags.operator,tags.wheelchair,tags.brand:wikidata,...,tags.payment:ec_cards,tags.fuel:lng,tags.fuel:petrol,tags.outdoor_seating,tags.operator:wikidata,tags.maxheight:signed,tags.payment:euroshell,tags.fuel:h35,tags.fuel:h70,tags.fuel:taxfree_diesel
0,node,1228781,46.878598,7.542326,fuel,BP,yes,BP,yes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,node,5702030,46.680546,7.827412,fuel,Migrol,NaN,NaN,NaN,Q1747771,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,node,5702071,46.683415,7.844559,fuel,Avia,yes,Avia,NaN,Q300147,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,node,8082505,46.683817,7.664427,fuel,NaN,NaN,NaN,limited,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,node,17407058,47.054727,7.625379,fuel,NaN,NaN,Shell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,node,27069561,47.396391,8.623317,fuel,SOCAR,yes,SOCAR Energy Switzerland,yes,Q1622293,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,node,27125026,47.401093,8.619955,fuel,BP,yes,Tresch Automobile,NaN,Q152057,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,node,29881492,47.686119,8.621418,fuel,Shell,yes,Shell (Switzerland),NaN,Q110716465,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,node,29881496,47.682276,8.609370,fuel,OIL!,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,node,29882004,47.679967,8.606470,fuel,Coop,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,node,29885121,47.677329,8.600585,fuel,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,node,30011079,47.714297,8.516153,fuel,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,node,33157581,47.155438,9.038236,fuel,BP,NaN,NaN,NaN,Q152057,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,node,33593043,47.132798,9.087569,fuel,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,node,34026947,47.178256,9.051317,fuel,BP,NaN,NaN,NaN,Q152057,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### <b>Aufgabe (8): Beziehen und Visualisieren Sie die aktuellen News-Feed (RSS-Feed) Daten der New York Times.</b>
<b>Details zur Aufgabenstellung:</b>
- Verwenden Sie diese URL zum RSS-Feed der New York Times Welt-Nachrichten: https://rss.nytimes.com/services/xml/rss/nyt/World.xml
- Beziehen Sie die RSS-Feeds und extrahieren sie die Titel der Artikel aus den RSS-Feed Einträgen.
- Zeigen Sie die Titel der RSS-Feed Einträge im Jupyter Notebook an.
- Erstellen Sie eine Graphik mit einer Word-Cloud der Titel der RSS-Feed Einträge und stellen Sie diese im Jupyter Notebook dar.

<b style="color: gray;">(max. erreichbare Punkte: 8)</b>

In [ ]:
# Parsen des RSS-News Feed von der New York Times World News Webseite
feed = feedparser.parse('https://rss.nytimes.com/services/xml/rss/nyt/World.xml') #--> feedparser.parse lädt und parst den RSS-Feed von der angegebenen URL

# Extrahieren der RSS-Feed Einträge
feed_entries = feed.entries #--> feed.entries enthält die Liste der Einträge im RSS-Feed; RSS bedeuetet Really Simple Syndication und ist ein Format zum Austausch von Nachrichten und anderen Inhalten im Web.

# Initialisieren des WordCloud-Texts
worldcloud_text = "" #--> definiert eine leere Zeichenkette für den WordCloud-Text

# Loop für Anzeige des Artikel-Titels
print("Article Titles:")
for entry in feed_entries:

    #Extrahieren des Artikel-Titels:
    article.title = entry.title #--> weist den Titel des aktuellen Eintrags der Variable article.title zu

    #Anhängen des Artikel-Titels an den WordCloud-Text:
    worldcloud_text += f"{article.title} " #--> fügt den Titel jedes Artikels zum WordCloud-Text hinzu owbei += bedeutet, dass der Text jedes Titels an die bestehende Zeichenkette worldcloud_text angehängt wird.

    #Anzeige des Artikel-Titels:
    print(f"{article.title}") #--> gibt den Titel des aktuellen Artikels aus / warum wird das f" vor dem String verwendet? --> f-Strings ermöglichen die Einbettung von Ausdrücken innerhalb von String-Literalen, indem sie ein f oder F vor den String setzen.

    #weil vorher F" mit geschweiften Klammern verwendet wurde, um Variablen in den String einzufügen, muss das bei der print Anweisung auch so gemacht werden.

# Generieren der WordCloud


# Anzeigen der WordCloud

### Jupyter notebook --footer info-- (please always provide this at the end of each notebook)

In [ ]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('IP Address:', socket.gethostbyname(socket.gethostname()))
print('-----------------------------------')